
@{
    ViewBag.Title = "首页";

}
@section Style{
   
    @Html.RefCss("css/header.css")
    @Html.RefCss("css/index.css")
}
@section Body{
    <div id="app">
        @{Html.RenderPartial("Header"); }
        <div class="section">
            @{Html.RenderPartial("TopTab", 2); }
            <div class="container">
                <div class="aside">
                    @{Html.RenderPartial("LeftMenu", new LeftMenuViewModel() { MenuType = MenuTypeEnum.WorkingTab, ActionMenuId = 1 }); }
                </div>
                <div class="panel home"></div>
            </div>
        </div>

    </div>
}
@section Script{
    <script>
        new Vue({
            el: '#app',
            data: function () {
                return { visible: false }
            }
        })
    </script>
}
