<div class="top">
    <div class="left"><span class="g">云途民宿酒店</span><span class="g">营业时间：</span></div>
    <div class="right">
        <span class="g">操作人：</span>
        <a href="javascript:void(0);" class="g check_out" >退出</a>
    </div>
</div>