
@{
    ViewBag.Title = "业主管理";

}
@section Style{

    @Html.RefCss("css/header.css")
    @Html.RefCss("css/owner/index.css")
}
@section Body{
    <div id="app">
        @{Html.RenderPartial("Header"); }
        <div class="section">
            @{Html.RenderPartial("TopTab", 1); }
            <div class="container">
                <div class="aside">
                    @{Html.RenderPartial("LeftMenu", new LeftMenuViewModel() { MenuType = MenuTypeEnum.SystemConfig, ActionMenuId = 4 }); }

                </div>
                <div class="panel ">
                    <div class="head">
                        <div class="search">
                            关键字：<el-input size="mini" v-model="keyword" placeholder="请输入内容"></el-input><el-button size="mini" type="primary" v-on:click="search">搜索</el-button>
                        </div>
                        <el-button class="btn" size="mini" type="warning" v-on:click="openAdd">新增</el-button>
                    </div>
                    <div class="table">
                        <el-table v-bind:data="tableData" style="width: 100%">
                            <el-table-column prop="Name" label="姓名"></el-table-column>
                            <el-table-column prop="Sex" label="性别"></el-table-column>
                            <el-table-column prop="Phone" label="电话"></el-table-column>
                            <el-table-column prop="RoomNum" label="客房数量"></el-table-column>
                            <el-table-column prop="CreateBy" label="创建人"></el-table-column>
                            <el-table-column prop="CreateTime" label="创建时间" width="160"></el-table-column>
                            <el-table-column width="120" label="操作" fixed="right">
                                <template slot-scope="scope">
                                    <el-popover v-model="scope.row.isShowDetail" placement="left" ref="popover2" trigger="click">
                                        <div class="detail">
                                            <div class="d"><span class="t">姓名：</span><span>{{scope.row.name}}</span></div>
                                            <div class="d"><span class="t">身份证：</span><span>{{scope.row.id_card}}</span></div>
                                            <div class="d"><span class="t">银行名称：</span><span>{{scope.row.bank_name}}</span></div>
                                            <div class="d"><span class="t">开户行：</span><span>{{scope.row.bank_deposit}}</span></div>
                                            <div class="d"><span class="t">银行账户：</span><span>{{scope.row.bank_account}}</span></div>
                                            <div class="d"><span class="t">地址：</span><span>{{scope.row.address}}</span></div>
                                            <div class="d"><span class="t">备注：</span><span>{{scope.row.remark}}</span></div>
                                            <div class="d"><span class="t">微信：</span><span>{{scope.row.wxchat}}</span></div>
                                        </div>
                                    </el-popover>
                                    <i class="el-icon-search icon" v-on:click='openDetail(scope.row)' v-popover:popover2></i>
                                    <i class="el-icon-edit icon" v-on:click="editUser(scope.row)"></i>
                                    <i class="el-icon-delete icon" v-on:click="deleteUser(scope.row)"></i>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                    <div class="pagin">
                        <el-pagination background layout="prev, pager, next" v-bind:total="totalCount" v-bind:page-size="pageSize" v-on:current-change="flipPage"></el-pagination>
                    </div>

                    <div class="add_panel">
                        <el-dialog v-bind:title="dialogTitle" v-bind:visible.sync="dialogFormVisible">
                            <el-form v-bind:model="form">
                                <el-row>
                                    <el-col v-bind:span="12">
                                        <el-form-item label="姓名：" v-bind:label-width="formLabelWidth" class="w">
                                            <el-input v-model="form.Name" auto-complete="off" size="mini"></el-input>
                                            <span class="co_red">*</span>
                                        </el-form-item>
                                        <el-form-item label="性别：" v-bind:label-width="formLabelWidth" size="mini" style="margin: 2px 0;" class="w">
                                            <el-select v-model="form.Sex">
                                                <el-option label="男" value="男"></el-option>
                                                <el-option label="女" value="女"></el-option>
                                            </el-select>
                                            <span class="co_red">*</span>
                                        </el-form-item>
                                        <el-form-item label="身份证号：" v-bind:label-width="formLabelWidth" class="w">
                                            <el-input v-model="form.CardNo" auto-complete="off" size="mini"></el-input>
                                            <span class="co_red">*</span>
                                        </el-form-item>
                                        <el-form-item label="手机号码：" v-bind:label-width="formLabelWidth" class="w">
                                            <el-input v-model="form.Phone" auto-complete="off" size="mini"></el-input>
                                            <span class="co_red">*</span>
                                        </el-form-item>
                                        <el-form-item label="微信号：" v-bind:label-width="formLabelWidth">
                                            <el-input v-model="form.WxChat" auto-complete="off" size="mini"></el-input>
                                        </el-form-item>
                                        <el-form-item label="联系地址：" v-bind:label-width="formLabelWidth" style="margin: 5px 0 10px" class="w">
                                            <el-input type="textarea" rows="2" v-model="form.Address"></el-input>
                                            <span class="co_red">*</span>
                                        </el-form-item>
                                        <el-form-item label="备注：" v-bind:label-width="formLabelWidth">
                                            <el-input type="textarea" rows="2" v-model="form.Remark"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col v-bind:span="12">
                                        <el-form-item label="头像：" v-bind:label-width="formLabelWidth" class="w">
                                                <el-upload class="avatar-uploader" action="http://39.108.139.149/back/upload" v-bind:headers="{token:null}" v-bind:show-file-list="false" v-bind:on-success="handleAvatarSuccess" v-bind:before-upload="beforeAvatarUpload">
                                                    <img v-if="imageUrl" v-bind:src="imageUrl" class="avatar">
                                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                                </el-upload>
                                            </el-form-item>
                                        <el-form-item label="银行名称：" v-bind:label-width="formLabelWidth" class="w">
                                            <el-input v-model="form.BankName" auto-complete="off" size="mini"></el-input>
                                            <span class="co_red">*</span>
                                        </el-form-item>
                                        <el-form-item label="开户行：" v-bind:label-width="formLabelWidth" class="w">
                                            <el-input v-model="form.BankDeposit" auto-complete="off" size="mini"></el-input>
                                            <span class="co_red">*</span>
                                        </el-form-item>
                                        <el-form-item label="银行卡号：" v-bind:label-width="formLabelWidth" class="w">
                                            <el-input v-model="form.BankAccount" auto-complete="off" size="mini"></el-input>
                                            <span class="co_red">*</span>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button size="mini" v-on:click="close">取 消</el-button>
                                <el-button size="mini" type="primary" v-on:click="addOwner">确 定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
@section Script{
    @Html.RefScript("js/owner/index.js");
}
