
@{
    ViewBag.Title = "业主管理";

}
@section Style{

    @Html.RefCss("css/header.css")
    @Html.RefCss("css/owner/index.css")
}
@section Body{
    <div id="app">
        @{Html.RenderPartial("Header"); }
        <div class="section">
            @{Html.RenderPartial("TopTab", 1); }
            <div class="container">
                <div class="aside">
                    @{Html.RenderPartial("LeftMenu", new LeftMenuViewModel() { MenuType = MenuTypeEnum.SystemConfig, ActionMenuId = 4 }); }

                </div>
                <div class="panel ">

                </div>
            </div>
        </div>

    </div>
}
@section Script{
    @Html.RefScript("js/owner/index.js");
}
