
@{
    ViewBag.Title = "首页";

}
@section Style{

    @Html.RefCss("css/login.css")
}
@section Body{

    <div class="login_box" id="app" v-on:keyup.enter="submitForm()">
        <div class="tit">云途城市民宿</div>
        <el-form v-bind:model="form" status-icon ref="form" label-width="50px" class="demo-ruleForm">
            <el-form-item label="账号" prop="Account">
                <el-input v-model="form.Account"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="Password">
                <el-input type="password" v-model="form.Password" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" v-on:click="submitForm()">{{btnText}}</el-button>
            </el-form-item>
        </el-form>
    </div>

}

@section Script{
    @Html.RefScript("js/login.js");
}
