body,html {
    font-size:14px;
}
a {
    text-decoration: none;
    color: #2f5e9b;
}

.section {
    top: 0;
    right: 0;
    margin-top: 26px;
    background-color: #fff;
    padding: 0 20px 20px;
}

.section .container {
    top: 80px;
    width: 100%;
}

.section, .section .container {
    position: absolute;
    bottom: 0;
    left: 0;
}


.section .container .aside {
    float: left;
}

.section .container .aside .sub {
    color: #666;
    display: block;
}

.section .container .aside .sub:active {
    color: #409eff;
}

.section .container .panel {
    position: absolute;
    top: 0;
    left: 180px;
    right: 20px;
    bottom: 20px;
}


.section .container .aside .is-active .sub {
    color: #409eff;
}

.el-menu-item.is-active {
    color: #409eff;
}

.el-icon-edit:before {
    content: "\E61C";
}
.el-icon-delete:before {
    content: "\E612";
}
.el-icon-check:before {
    content: "\E611";
}
.el-icon-minus:before {
    content: "\E621";
}

.co_blue {
    color: #409eff;
}

.co_red {
    color: red;
}

.co_green {
    color: #67c23a;
}
